.main{
   height: 180px;
    background: #1A1A1A;
}
.para{
    border-left: 1px solid #E8C582;
    color: #fff;
    font-size: 20px;
}
.para a{
    text-decoration: none;
    color: #fff;
}
.align-items-end{
    height: 200px !important;
}
.copy{
    color: #fff;
}