.main{
    min-height: 200px;
    background: #1A1A1A;
}
.para{
    border-left: 1px solid #E8C582;
    color: #fff;
    font-size: 20px;
}
.align-items-end{
    min-height: 200px !important;
}
.copy{
    color: #fff;
}