.XMain{
   height: 180px;
   z-index: 99;
   opacity: 1;
    background: #1A1A1A;
}
.parag{
    border-left: 1px solid #E8C582;
    color: #fff;
    font-size: 20px;
}
.parag a{
    text-decoration: none;
    color: #fff;
}
.align-items-end{
    height: 200px !important;
}
.copy{
    color: #fff;
}