<div class="main">
    <div class="row  m-0">
        <div class="row align-items-end col-md-4 col-12">
        <p class="col-md-4 col-6 para">الشروط والاحكام</p>
        <p class="col-md-2 col-6 para">اتصل بنا</p>
        <p class="col-md-2 col-6 para">الشكاوي</p>
        <p class="col-md-2 col-6 para">الطلبات</p>
     </div>
     <div class="col-md-4 pt-4">
         <div class="text-center">
             <img src="../../../assets/Images/1شسيبسيب.svg" alt="">
         </div>
         <p class="text-center copy">Copyright © 2021 - 2022</p>
     </div>
     <div class="col-md-3 row m-0 align-items-end">
         <div class="text-center">
             <img width="500px" src="../../../assets/Images/pank.svg" alt="">
         </div>
     </div>
    </div>
</div>