<div class="main">
    <div class="row  m-0">
        <div class="row align-items-end col">
        <p class="col-4 para">الشروط والاحكام</p>
        <p class="col para">اتصل بنا</p>
        <p class="col para">الشكاوي</p>
        <p class="col para">الطلبات</p>
     </div>
     <div class="col pt-4">
         <div class="text-center">
             <img src="../../../assets/Images/شسيبسيب.svg" alt="">
         </div>
         <p class="text-center copy">Copyright © 2021 - 2022</p>
     </div>
     <div class="col row m-0 align-items-end">
         <div class="text-center">
             <img width="500px" src="../../../assets/Images/pank.svg" alt="">
         </div>
     </div>
    </div>
</div>