
.container-fluid{
    min-height: 84px;
    background: #fff;
}


.div1{
    border: 1px solid #14306F;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 35px !important;
    height: 35px;
    padding: 7px;
    i{
        font-size: 18px;
        color: #14306F;
    }
}
.align-items-center{
    height: 84px;
}
.div1:hover{
    background: #B69149;
    i{
        color: #fff;
    }
}
.para{
    color: #14306F;
    border-left: 1px solid #14306F;
    font-size: 16px;
    line-height: 50px;
}
.parra{
    color: #14306F;
    border-left: 1px solid #14306F;
    font-size: 16px;
    overflow: hidden;
}
.para1{
    color: #14306F;
    font-size: 16px;
}
.div2{
    border-radius: 50%;
    background: #14306F;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 40px !important;
    height: 40px;
    padding: 8px;
    margin-bottom: 13px;
}
.div3{
     margin-bottom: 14px;
}
.btn1{
    background: #14306F;
    color: #fff;
    border-radius: 3px !important;
    width: 147px  !important;
    height: 37px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
}
.btn1:hover{
    background: #B69149;
}




// .circleBase {
//     border-radius: 50%;
// }

// .type1 {
//     width: 35px;
//     height: 35px;
//     padding-right: 25px;
//     padding-top: 3px;
//     background: #FFFFFF;
//     margin-right: 5px;
//     border: 1px solid #14306F;
// }
// .type2{
//     width: 35px;
//     height: 35px;
//     padding-right: 25px;
//     padding-top: 3px;
//     margin-right: 5px;
//     background: #B69149;
//     border: 1px solid #14306F;
// }
// .btn1{
//     background: #B69149;
//     color: #fff;
// }
// .btn2{
//     background: #14306F;
//     color: #fff;
// }
// .type3{
//     width: 37px;
//     height: 37px;
//     padding-right: 25px;
//     padding-top: 4px;
//     margin-right: 5px;
//     margin-bottom: 5px;
//     background: #14306F;
//     // border: 1px solid #14306F;
// }
// .type4{
//     width: 37px;
//     height: 40px;
//     padding-right: 30px;
//     padding-top: 4px;
//     margin-right: 5px;
//     margin-bottom: 5px;
//     background: #14306F;
//     // border: 1px solid #14306F;
// }
// .p1{
//     color:#14306F;
// }