<div class="container-fluid">
    <div class="row pt-2 justify-content-between m-0">
        <div class="col-9 row">
            <div class="ms-5 col-3">
                <button type="button" class="btn btn1 me-3">تقديم طلب</button>
                <button type="button" class="btn btn2">تسجيل الدخول</button>
            </div>
            <div class="col-4 row">
                <div class="text-center circleBase type3">
                    <span class=""><img width="16" height="23" src="../../../assets/Images/placeholder (1).png"
                            alt="not found"></span>
                </div>
                <p class="p1 col-7">عنوان مكتب مصر يكون هنا</p>
                <p class="text-bold p1 col" style="border-left: 1px solid #14306F;">مكاتبنا </p>
            </div>
            <div class="col-4 row">
                <div class="text-center circleBase type4">
                    <span class=""><img width="20" height="20" src="../../../assets/Images/globe.png"
                            alt="not found"></span>
                </div>
                <p class="p1 col">
                    <span>WWW.KHYALL.COM</span><br>
                    <span>WWW.KHYALL.NET</span>
                </p>
                <p class="text-bold p1 col" style="border-left: 1px solid #14306F;">زورونا على </p>
            </div>

        </div>
        <div class="col-2 row mx-5">
            <div class="text-center circleBase type1">
                <span class=""><img width="15" height="15" src="../../../assets/Images/twitter.png"
                        alt="not found"></span>
            </div>
            <div class="text-center circleBase type2">
                <span class=""><img width="15" height="15" src="../../../assets/Images/Path 7.png"
                        alt="not found"></span>
            </div>
            <div class="text-center circleBase type1">
                <span class=""><img width="15" height="15" src="../../../assets/Images/instagram.png"
                        alt="not found"></span>
            </div>
            <div class="text-center circleBase type1">
                <span class=""><img width="15" height="15" src="../../../assets/Images/facebook.png"
                        alt="not found"></span>
            </div>
        </div>
    </div>
</div>