<div class="container-fluid animate__animated animate__fadeInDown">
    <div class="row justify-content-around">
    <div class="row align-items-center mx-md-4 mx-auto col-md-2">
        <div class="mx-1 text-center div1">
            <!-- <img src="../../../assets/Images/twitter.svg" alt=""> -->
            <span><i class="pi pi-twitter"></i></span>
            
        </div>
        <div class="text-center div1">
            <!-- <img src="../../../assets/Images/Path 7.svg" alt=""> -->
            <span><i class="pi pi-play"></i></span>
        </div>
        <div class="mx-1 text-center div1">
            <!-- <img src="../../../assets/Images/instagram.svg" alt=""> -->
            <span><i class="pi pi-link"></i></span>
        </div>
        <div class="text-center div1">
            <!-- <img src="../../../assets/Images/facebook.svg" alt=""> -->
            <span><i class="fab fa-facebook-f"></i></span>
        </div>
    </div>
    <div class="col-md-1" ></div>
    <div class="row p-0 m-0 col-md-5 col-12" style="overflow: hidden;">
    <div class="row m-0 col-md-6 col-12 align-items-center p-0">
        <p class="para col-md-3 col-2 p-0">زورونا علي</p>
        <div class="col-md-7 col-5 mx-1 mb-3">
            <span class="para1 p-0">WWW.KHYALL.COM</span><br>
            <span class="para1 p-0">WWW.KHYALL.NET</span>
        </div>
        <div class="text-center col-md-2 div2">
            <img src="../../../assets/Images/globe.svg" alt="">
        </div>
    </div>
    <div class="row m-0 col-md-6 col-12 align-items-center p-0">
        <p class="para col-md-3 col-2">مكاتبنا </p>
        <div class="col-md-7 col-5 mb-3">
            <span class="para1 p-0">عنوان مكتب مصر يكون هنا</span><br>
            <span class="para1 p-0">عنوان مكتب مصر يكون هنا</span>
        </div>
        <div class="text-center col-md-2 div2 div3">
            <img src="../../../assets/Images/placeholder (1).svg" alt="">
        </div>
    </div>
</div>
<div class="col my-4 col-md-3 col-12">
    <button type="button" class="btn btn1 mx-3">تقديم طلب</button>
    <button type="button" class="btn btn1">تسجيل الدخول</button>
</div>
</div>
</div>


<!-- 
    <div class="row pt-2 justify-content-between m-0">
        <div class="col-9 row">
            <div class="col-2 row mx-5">
                <div class="text-center circleBase type1">
                    <span class=""><img width="15" height="15" src="../../../assets/Images/twitter.png"
                            alt="not found"></span>
                </div>
                <div class="text-center circleBase type2">
                    <span class=""><img width="15" height="15" src="../../../assets/Images/Path 7.png"
                            alt="not found"></span>
                </div>
                <div class="text-center circleBase type1">
                    <span class=""><img width="15" height="15" src="../../../assets/Images/instagram.png"
                            alt="not found"></span>
                </div>
                <div class="text-center circleBase type1">
                    <span class=""><img width="15" height="15" src="../../../assets/Images/facebook.png"
                            alt="not found"></span>
                </div>
            </div>
            <div class="ms-5 col-3">
                <button type="button" class="btn btn1 me-3">تقديم طلب</button>
                <button type="button" class="btn btn2">تسجيل الدخول</button>
            </div>
            <div class="col-4 row">
                <div class="text-center circleBase type3">
                    <span class=""><img width="16" height="23" src="../../../assets/Images/placeholder (1).png"
                            alt="not found"></span>
                </div>
                <p class="p1 col-7">عنوان مكتب مصر يكون هنا</p>
                <p class="text-bold p1 col" style="border-left: 1px solid #14306F;">مكاتبنا </p>
            </div>
            <div class="col-4 row">
                <div class="text-center circleBase type4">
                    <span class=""><img width="20" height="20" src="../../../assets/Images/globe.png"
                            alt="not found"></span>
                </div>
                <p class="p1 col">
                    <span>WWW.KHYALL.COM</span><br>
                    <span>WWW.KHYALL.NET</span>
                </p>
                <p class="text-bold p1 col" style="border-left: 1px solid #14306F;">زورونا على </p>
            </div>

        </div>
    </div>
 -->