<div class="main">
    <div class="subMain">
    <div class="row justify-content-around py-4 m-0">
        <div class="col-md-3 mx-3">
            <h2 class="headers mb-0">عن خــيــــال</h2>
            <hr class="mx-5 mt-0">
            <p class="paragragh">
                نؤمن دائماً بان الإستمرار في القمة للكيانات التجارية يتطلب الكثير من التطوير الدائم في الفكر , في المنهجية , في النظم العامة , في الخدمات المقدمة , في طريقة العرض , لذلك تعمل تقنية دائماً بشكل متطور بفكر ومنهجية ومجموعة من النظم الإدارية والخدمات الحديثة والمتطورة التي تسعى دائماً لهدفها في كتابة الثقافة الإلكترونية الحديثة والوصول بها لقمة مقدمي الخدمات إقليمياً وعالمياً .
            </p>
        </div>
        <div class="col-md-5 btns p-0">
            <h2 class="headers mb-0">روابط  تهمك</h2>
            <hr class="mx-5 mt-0">
            <div class="text-right p-0 mb-1">
                <!-- <div class="col text-start"> -->
                    <button type="button" class="btn">افضل استضافة مواقع</button>
                <!-- </div> -->
                <!-- <div class="col text-center"> -->
                    <button type="button" class="btn mx-1">تصميم ويب سايت تعريفي 2022 في مصر</button>
                <!-- </div> -->
                <!-- <div class="col text-end"> -->
                    <button type="button" class="btn">شركة دعاية واعلان</button>
                <!-- </div> -->
            </div>
            <div class="text-right mb-1">
                <button type="button" class="btn">افضل سيرفرات VPS في الرياض</button>
                <button type="button" class="btn mx-1">افضل تطبيق حراج</button>
                <button type="button" class="btn">شركة انتاج مرئي ومسموع</button>
            </div>
            <div class="text-right mb-1">
                <button type="button" class="btn">افضل سيرفرات VPS مدارة</button>
                <button type="button" class="btn mx-1">افضل تطبيق توصيل</button>
                <button type="button" class="btn">تصميم تطبيقات الهواتف</button>
            </div>
            <div class="text-right mb-1">
                <button type="button" class="btn">افضل سيرفرات تطبيقات في السعودية</button>
                <button type="button" class="btn mx-1">افضل تطبيق متجر الكتروني</button>
                <button type="button" class="btn">تصميم تطبيقات التوصيل</button>
            </div>
            <div class="text-right mb-1">
                <button type="button" class="btn">افضل سيرفرات تطبيقات في القاهرة</button>
                <button type="button" class="btn mx-1">شركة تصميم متجر في جدة</button>
                <button type="button" class="btn">شركة برمجة خاصة</button>
            </div>
            <div class="text-right mb-1">
                <button type="button" class="btn">افضل شركة تصميم مواقع في السعودية</button>
                <button type="button" class="btn mx-1">افضل شركة تصميم ويب سايت في القاهرة</button>
                <button type="button" class="btn">حجز موقع الكتروني</button>
            </div>
            <div class="text-right mb-1">
                <button type="button" class="btn">شركة تصميم متجر في السعودية</button>
                <button type="button" class="btn mx-1">افضل تصميم مواقع في السعودية</button>
                <button type="button" class="btn">حجز بريد رسمي</button>
            </div>
            <div class="text-right mb-1">
                <button type="button" class="btn">افضل شركة تسويق الكتروني</button>
                <button type="button" class="btn mx-1">تصميم موقع</button>
                <button type="button" class="btn">حجز بريد الكتروني</button>
            </div>
            <div class="text-right mb-1">
                <button type="button" class="btn">افضل استضافة مواقع ويب في السعودية</button>
                <button type="button" class="btn mx-1">تصميم ويب سايت في القاهرة</button>
                <button type="button" class="btn">تصميم موقع استقدام</button>
            </div>
            <div class="text-right mb-1">
                <button type="button" class="btn">افضل استضافة مواقع في الرياض</button>
                <button type="button" class="btn mx-1">بطاقات تهنئة رمضان</button>
                <button type="button" class="btn">تصميم موقع سيارات</button>
            </div>
            <div class="text-right mb-1">
                <button type="button" class="btn">شركة حملات اعلانية في مصر</button>
                <button type="button" class="btn mx-1">بطاقات تهنئة رمضان</button>
                <button type="button" class="btn">تصميم موقع محام</button>
            </div>
            
            <div class="text-right mb-1">
                <button type="button" class="btn">برنامج ادارة الشركات</button>
                <button type="button" class="btn mx-1">بطاقات تهنئة رمضان</button>
                <button type="button" class="btn">تصميم شعار </button>
            </div>
            <div class="text-right mb-1">
                <button type="button" class="btn">برنامج إدارة الموارد البشرية</button>
                <button type="button" class="btn mx-1">تهنئة الزواج</button>
                <button type="button" class="btn">افضل شركة تصميم متاجر بالسعودية</button>
            </div>
            <div class="text-right mb-1">
                <button type="button" class="btn">الفاتورة الالكترونية السعودية</button>
                <button type="button" class="btn mx-1">شركة تصميم متاجر في القاهرة</button>
                <button type="button" class="btn">تصميم برنامج حسابات للشركات</button>
            </div>
            <div class="text-right mb-1">
                <button type="button" class="btn">الفاتورة الالكترونية مصر</button>
                <button type="button" class="btn mx-1">برمجة المواقع والتطبيقات</button>
                <button type="button" class="btn">تصميم برنامج للتاشيرات</button>
            </div>
            <div class="text-right mb-1">
                <button type="button" class="btn">تصميم موقع اخباري</button>
                <button type="button" class="btn mx-1">شركة خيال للخدمات التكنولوجية</button>
                <button type="button" class="btn">طباعة أوراق الشركات</button>
            </div>
        </div>
        <div class="col contactUs">
            <h2 class="headers mb-0">تــواصــل مـعـنـا</h2>
            <hr class="contactHr mt-0">
            <p class="mt-5">
                <span class="mx-2"> لمراستنا: </span>
                <span>info@khyall.com</span>
            </p>
            <p>
                <span class="mx-2">الشكاوى: </span>
                <span>complaints@khyall.com</span>
            </p>
            <p>
                <span class="mx-2"> المبيعات: </span>
                <span>(+2) 01068758847</span>
            </p>
            <p>
                <span class="mx-2">خدمة العملاء: </span>
                <span>(+2) 01068758847</span>
            </p>
            <p>
                <span class="mx-2"> العنوان: </span>
                <span>مصر - القاهرة الجديدة </span>
            </p>
        </div>
    </div>
    <app-sub-footer></app-sub-footer>
    <div class="endFooter"></div>
</div>
</div>
