.content{
    background: #14306F !important;
    height: 90px !important;
}
a{
    // margin-top: 45px;
    font-weight: bold !important;
    font-size: 20px !important;
    text-decoration: none !important;
}
// a:active{
//     text-underline-position: below;
//     text-decoration: underline #B69149 14px;
// }
.navX{
    border-bottom: 4px solid #B69149 !important;
}
.links{
    padding: 33px !important;
}

.content a{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 13px !important;
}
.navbar-nav{
    margin: 0px !important;
}