<div class="container-fluid p-0">
    <div>
        <!--  [style]="backgroundStyle" -->
    <div class="slidShow" dir="ltr">
        
        <p-carousel [indicatorsContentStyle]="indicatorsContentStyle" [value]="images" [numVisible]="1"  [showNavigators]="false" [numScroll]="1" [circular]="true" [autoplayInterval]="2000" [responsiveOptions]="responsiveOptions">
            <ng-template let-image pTemplate="item">
                <div class="product-item">
                    <div class="product-item-content">
                        <div class="p-mb-3" class="carouselStyle">
                            <div class="aboveSlide text-center">
            <div>
                <h4>حول تجارتك للعالم الرقمي</h4>
                <p class="mt-5">فن الإتصالات البصرية هو المعنى الحقيقي لتحقيق أفكارك وبلورتها إلى حقيقة رائعة وهو مايقوم به مصممينا 
                    في خيال بناء على طلب العميل ويتعاونون على تنفيذ معطياته بمنتهى الدقة
                    
                </p>
                <div class="divv col-lg-6 col-md-8 m-auto row">
                    <div class="col my-1"><button type="button" class="btn btn-lg btn-primary btns">طلب خدمة</button></div><br>
                    <div class="col my-1"><button type="button" class="btn btn-lg btn-primary btns">طلب عرض سعر</button></div>
                </div>
            </div>
        </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>
    <div class="AboutKyall row m-0">
        <div class="col-md-5 AboutKyall1">
            <div class="div1"></div>
            <div class="div2"></div>
        </div>
        <div class="AboutKyall2 col-md-7">
        <div>
            <h4>خيال.. بوابتك الأولى لعالم الأعمال</h4>
            <p>
                نؤمن دائماً بان الإستمرار في القمة للكيانات التجارية يتطلب الكثير من التطوير الدائم في الفكر , في المنهجية , في النظم العامة , في الخدمات المقدمة , في طريقة العرض , لذلك تعمل خـيال دائماً بشكل متطور بفكر ومنهجية ومجموعة من النظم الإدارية والخدمات الحديثة والمتطورة التي تسعى دائماً لهدفها في كتابة الثقافة الإلكترونية الحديثة والوصول بها لقمة مقدمي الخدمات إقليمياً وعالمياً .
            </p>
            <br>
            <br>
            <p>
لتستمر خـيال كـ أفضل مقدم خدمات تقنية المعلومات , ابتداء من النطاقات والاستضافة والسيرفرات , وتطوير وتصميم وبرمجة المواقع الإلكترونية و المتاجر الإلكترونية , وبرمجة وتصميم تطبيقات الجوال , وخدمات التسويق الإلكتروني والإعلانات الممولة.
            </p>
            <div class="mx-auto col-5 mt-5">
            <button type="button" class="btn btn-lg btn-primary">تعرف علي خيال</button>
            </div>
        </div>
        </div>
    </div>
    <div class="ourServices">
        <div class="suB">
            <h4>خــــدمـــتـــنا</h4>
        <div class="mx-5">
            <div class="row row-cols-1 row-cols-lg-3 g-1 g-lg-3">
              <div class="col">
                <div class="p-3 service">
                    <div class="text-center image">
                        <img width="60px" height="60px" src="../../../../assets/Images/globe (1).svg" alt="">
                    </div>
                    <p class="text-center pt-4 title">تصميم المواقع الالكترونية</p>
                    <div class="text-center butn">
                        <button type="button" class="btn btn-lg mb-1 serBtn">شاهد الخدمة</button>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3 service">
                    <div class="text-center image">
                        <img width="60px" height="60px" src="../../../../assets/Images/mobile-app1.svg" alt="">
                    </div>
                    <p class="text-center pt-4 title">تصميم وبرمجة التطبيقات</p>
                    <div class="text-center butn">
                        <button type="button" class="btn btn-lg mb-1 serBtn">شاهد الخدمة</button>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3 service"> 
                    <div class="text-center image">
                        <img width="60px" height="60px"  src="../../../../assets/Images/cloud-network.svg" alt="">
                    </div>
                    <p class="text-center pt-4 title">اســــتـــضــــافــــة الـــمــواقــع</p>
                    <div class="text-center butn">
                        <button type="button" class="btn btn-lg mb-1 serBtn">شاهد الخدمة</button>
                    </div>
                </div>
              </div>
              <div class="col ">
                <div class="p-3 service ">
                    <div class="text-center image">
                        <img width="60px" height="60px" src="../../../../assets/Images/illustration1.svg" alt="">
                    </div>
                    <p class="text-center pt-4 title">تصميم الــهــويـة الــتـجــاريـة</p>
                    <div class="text-center butn">
                        <button type="button" class="btn btn-lg mb-1 serBtn">شاهد الخدمة</button>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3 service ">
                    <div class="text-center image">
                        <img width="60px" height="60px" src="../../../../assets/Images/shopping-cart.svg" alt="">
                    </div>
                    <p class="text-center pt-4 title">تصميم المتاجر الالكترونية</p>
                    <div class="text-center butn">
                        <button type="button" class="btn btn-lg mb-1 serBtn">شاهد الخدمة</button>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3 service">
                    <div class="text-center image">
                        <img width="60px" height="60px" src="../../../../assets/Images/programming-code-signs1.svg" alt="">
                    </div>
                    <p class="text-center pt-4 title">البرمجة الخاصة وتطوير المواقع </p>
                    <div class="text-center butn">
                        <button type="button" class="btn btn-lg mb-1 serBtn">شاهد الخدمة</button>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3 service">
                    <div class="text-center image">
                        <img width="100px" height="60px" src="../../../../assets/Images/social-media.svg" alt="">
                    </div>
                    <p class="text-center pt-4 title">خدمات التسويق الالكتروني</p>
                    <div class="text-center butn">
                        <button type="button" class="btn btn-lg mb-1 serBtn">شاهد الخدمة</button>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3 service">
                    <div class="text-center image">
                        <img width="100px" height="60px" src="../../../../assets/Images/social-media.svg" alt="">
                    </div>
                    <p class="text-center pt-4 title">خدمات الدعاية والاعلان</p>
                    <div class="text-center butn">
                        <button type="button" class="btn btn-lg mb-1 serBtn">شاهد الخدمة</button>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3 service">
                    <div class="text-center image">
                        <img width="60px" height="60px" src="../../../../assets/Images/youtube (2).svg" alt="">
                    </div>
                    <p class="text-center pt-4 title">االانتاج المرئي والمسموع</p>
                    <div class="text-center butn">
                        <button type="button" class="btn btn-lg mb-1 serBtn">شاهد الخدمة</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <br>
        <br><br>
        </div>
    </div>
    <div class="ourProjects py-5">
        <div class="text-center div1">
            <h5>أعمالنا ومشروعاتنا</h5>
            <p class="col-md-8 m-auto">
                لأننا في شركة تقنية حريصين دائماً على جودة الخدمات ورضا العميل اولأ فاننا نشعر بالفخر لأننا استطعنا ان ننال رضا عملائنا 
بتحويل أفكارهم الى تصميمات وتطبيقات ومواقع احترافية وبجمالية فائقة
            </p>
            <hr class="col-4 m-auto">
        </div>
        <div class="container mx-5 px-4 mt-5">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-1 col-md-10 m-auto">
              <div class="col">
               <div class="text-center">
                <button type="button" class="btn btn-lg btn-primary bnn">كل الأعمال</button>
               </div>
              </div>
              <div class="col">
                <div class="text-center">
                    <button type="button" class="btn btn-lg btn-primary bnn">تصميم المواقع</button>
                </div>
              </div>
              <div class="col">
                <div class="text-center">
                    <button type="button" class="btn btn-lg btn-primary bnn">تطبيقات الهواتف</button>
                </div>
               </div>
               <div class="col">
                <div class="text-center">
                    <button type="button" class="btn btn-lg btn-primary bnn">المتاجر الالكترونية</button>
                </div>
               </div>
               <div class="col">
                 <div class="text-center">
                    <button type="button" class="btn btn-lg btn-primary bnn">الدعاية والاعلان</button>
                 </div>
               </div>
            </div>
          </div>
          <div class="mx-5 mt-5">
            <div class="row row-cols-1 row-cols-lg-3 g-1 g-lg-5">
              <div class="col-md-3">
                <div class="elgammal">
                    <div class="aboveDiv">
                        <br><br><br><br>
                        <div class="row col">
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/click.svg" alt="">
                            </div>
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/maximize.svg" alt="">
                            </div>
                        </div>
                        <br><br><br>
                        <p class="text-center">اسم الموقع هنا</p>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="elgammal">
                    <div class="aboveDiv">
                        <br><br><br><br>
                        <div class="row col">
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/click.svg" alt="">
                            </div>
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/maximize.svg" alt="">
                            </div>
                        </div>
                        <br><br><br>
                        <p class="text-center">اسم الموقع هنا</p>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="elgammal">
                    <div class="aboveDiv">
                        <br><br><br><br>
                        <div class="row">
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/click.svg" alt="">
                            </div>
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/maximize.svg" alt="">
                            </div>
                        </div>
                        <br><br><br>
                        <p class="text-center">اسم الموقع هنا</p>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="elgammal">
                    <div class="aboveDiv">
                        <br><br><br><br>
                        <div class="row">
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/click.svg" alt="">
                            </div>
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/maximize.svg" alt="">
                            </div>
                        </div>
                        <br><br><br>
                        <p class="text-center">اسم الموقع هنا</p>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="elgammal">
                    <div class="aboveDiv">
                        <br><br><br><br>
                        <div class="row">
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/click.svg" alt="">
                            </div>
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/maximize.svg" alt="">
                            </div>
                        </div>
                        <br><br><br>
                        <p class="text-center">اسم الموقع هنا</p>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="elgammal">
                    <div class="aboveDiv">
                        <br><br><br><br>
                        <div class="row">
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/click.svg" alt="">
                            </div>
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/maximize.svg" alt="">
                            </div>
                        </div>
                        <br><br><br>
                        <p class="text-center">اسم الموقع هنا</p>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="elgammal">
                    <div class="aboveDiv">
                        <br><br><br><br>
                        <div class="row">
                            <div class="col text-center">
                                <img height="70px" width="70px"  src="../../../../assets/Images/click.svg" alt="">
                            </div>
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/maximize.svg" alt="">
                            </div>
                        </div>
                        <br><br><br>
                        <p class="text-center">اسم الموقع هنا</p>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="elgammal">
                    <div class="aboveDiv">
                        <br><br><br><br>
                        <div class="row">
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/click.svg" alt="">
                            </div>
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/maximize.svg" alt="">
                            </div>
                        </div>
                        <br><br><br>
                        <p class="text-center">اسم الموقع هنا</p>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="elgammal">
                    <div class="aboveDiv">
                        <br><br><br><br>
                        <div class="row">
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/click.svg" alt="">
                            </div>
                            <div class="col text-center">
                                <img height="70px" width="70px" src="../../../../assets/Images/maximize.svg" alt="">
                            </div>
                        </div>
                        <br><br><br>
                        <p class="text-center">اسم الموقع هنا</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="sectionX">
        <div class="row m-0">
            <div class="whyKhyall col-md">
                <h3 class="text-center">لماذا خيال ؟</h3>
                <p class="text-center">لأننا في خيال حريصين دائماً على جودة الخدمات ورضا العميل فاننا نشعر بالفخر لأننا استطعنا أن ننال رضا العديد من عملائنا على مدار 10 سنة ومنذ 2011 بتحويل أفكارهم إلى تطبيقات ومواقع احترافية وبجمالية فائقة لننافس بأعمالنا أفضل شركات تصميم المواقع والمنصات الكبرى ليس على مستوى مصر و الشرق الأوسط فحسب وإنما على مستوى العالم
                </p>
            </div>
            <div class="col-md whyKhyall2">
                <div class="container">
                    <div class="row g-2">
                      <div class="col-6">
                        <div class="p-3">
                            <div class="text-center">
                                <img src="../../../../assets/Images/research.svg" alt="">
                            </div><br>
                            <p class="text-center titl">الدراسة والتحليل</p>
                            <p class="text-center sub">لنبداء دائما يكون هناك خطوة اولي لتنفيذ العمل باحترافية تامة
                                وهو تحليل العمل المطلوب</p>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="p-3">
                            <div class="text-center">
                                <img src="../../../../assets/Images/illustration.svg" alt="">
                            </div><br>
                            <p class="text-center titl">تصميم UI-UX</p>
                            <p class="text-center sub">تصميم الموقع يحتاج إلى مزيج من إحترافية التصميم وذوق في 
                                اختيار الألوان واستخدام أحدث التقنيات
                            </p>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="p-3">
                            <div class="text-center">
                                <img src="../../../../assets/Images/mobile-app.svg" alt="">
                            </div><br>
                            <p class="text-center titl">التوافق مع الأجهزة</p>
                            <p class="text-center sub">
                                من أهم عوامل الوصول هو الحرص على توافق الأعمال مع جميع
 الاجهزة والمتصفحات
</p>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="p-3">
                            <div class="text-center">
                                <img src="../../../../assets/Images/programming-code-signs.svg" alt="">
                            </div><br>
                            <p class="text-center titl">البرمجه والتطوير</p>
                            <p class="text-center sub">الإختيار الأمثل للمنصة ولغة البرمجة المستخدمة هو من أهم
                                عوامل نجاح الموقع
                               
                            </p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="sectionY py-5 m-0">
        <p class="title text-center">خدمنا أكثر من 50 ألف عميل .. ومن عملائنا</p>
        <p class="sunTitle text-center">تشرفنا بخدمة عدد كبير من العملاء في جميع مجالات خدماتنا منذ 2011 ولأكثر من 14 سنة ومازلنا نواصل</p>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="text-center mx-3 slide">
        <img width="100px" height="100px" src="../../../../assets/Images/ثيبسل.svg" alt="">
        <h3 class="mt-3 khyll">خيال للخدمات التكنولوجية</h3>
       </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="text-center mx-3 slide">
            <img width="100px" height="100px" src="../../../../assets/Images/ثيبسل.svg" alt="">
            <h3 class="mt-3 khyll">خيال للخدمات التكنولوجية</h3>
           </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="text-center mx-3 slide">
            <img width="100px" height="100px" src="../../../../assets/Images/ثيبسل.svg" alt="">
            <h3 class="mt-3 khyll">خيال للخدمات التكنولوجية</h3>
           </div>
    </ng-template> 
    <ng-template carouselSlide>
        <div class="text-center mx-3 slide">
            <img width="100px" height="100px" src="../../../../assets/Images/ثيبسل.svg" alt="">
            <h3 class="mt-3 khyll">خيال للخدمات التكنولوجية</h3>
           </div>
    </ng-template> 
    <ng-template carouselSlide>
        <div class="text-center mx-3 slide">
            <img width="100px" height="100px" src="../../../../assets/Images/ثيبسل.svg" alt="">
            <h3 class="mt-3 khyll">خيال للخدمات التكنولوجية</h3>
           </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="text-center mx-3 slide">
            <img width="100px" height="100px" src="../../../../assets/Images/ثيبسل.svg" alt="">
            <h3 class="mt-3 khyll">خيال للخدمات التكنولوجية</h3>
           </div>
    </ng-template> 
    <ng-template carouselSlide>
        <div class="text-center mx-3 slide">
            <img width="100px" height="100px" src="../../../../assets/Images/ثيبسل.svg" alt="">
            <h3 class="mt-3 khyll">خيال للخدمات التكنولوجية</h3>
           </div>
    </ng-template>  
  </owl-carousel-o>
    </div>
</div>
